.menue-left{
/*padding: 10px 0  0 26px;*/
color: #03c4e8;
width: 12%;
height: 45px;
float: left;
font-size: 20px;
line-height: 45px;
text-align: center;
/* background-color: black */
background-color: #20272a;
}
.menue-right{
    width: 88%;
    height: 45px;
    float: left;
    background-color: #20272a;
}
